.DrawerNav{
  position: absolute;
  top: 0;
  left: -300px;
  background: #eee;
  width: 275px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 2px 0 3px #ccc;
  z-index: 100;
  transition: 0.5s ease;
}

.DrawerNavOpen{
  left: 0
}

.DrawerNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.DrawerNav li {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 10px 4em;
}

.DrawerNav li:hover, .DrawerNav li:active{
  background-color: black;
  color: white;
}