.CharacterInfo{

}

.CharacterInfo ul{
  width: 100%;
  list-style-type: circle;
  box-sizing: border-box;
  padding: 0 1.5em;;
}

.AttributesDisciplines{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 .5em;
  grid-gap: 10px;
}